*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
.Clock {
  width: 300px;
  height: 300px;
  background-color: blanchedalmond;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
}
.Clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
}
.Clock .number1 {
  --rotation: 30deg;
}
.Clock .number2 {
  --rotation: 60deg;
}
.Clock .number3 {
  --rotation: 90deg;
}
.Clock .number4 {
  --rotation: 120deg;
}
.Clock .number5 {
  --rotation: 150deg;
}
.Clock .number6 {
  --rotation: 180deg;
}
.Clock .number7 {
  --rotation: 210deg;
}
.Clock .number8 {
  --rotation: 240deg;
}
.Clock .number9 {
  --rotation: 270deg;
}
.Clock .number10 {
  --rotation: 300deg;
}
.Clock .number11 {
  --rotation: 330deg;
}
.Clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;

  transform-origin: bottom;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.Clock::after {
  content: "";
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.Clock .hand.second {
  width: 3px;
  height: 45%;
  background-color: rgb(131, 29, 29);
}
.Clock .hand.minute {
  width: 7px;
  height: 40%;
  background-color: rgb(8, 7, 7);
}
.Clock .hand.hour {
  width: 10px;
  height: 30%;
  background-color: rgb(8, 7, 7);
}
